<!--
<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  
  <!-- <ion-grid>
      <ion-row>
        <ion-col size-sm = "8" offset-sm = "2">-->
          <ion-card>
            <ion-card-header>
              <img src="assets/img/profile.jpg" alt="Profile" width = "320" height="160">      
              <ion-card-title>Laurence Cortez</ion-card-title>
              <ion-card-subtitle>Carig-Sur, Tuguegarao City, Cagayan</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              We accept male and female boarders and we have our set rules on cleaning and trash
              management.
            </ion-card-content>
          </ion-card><!--
        </ion-col>
      </ion-row>
    </ion-grid>-->
    <ion-list>
        <ion-item>
          <ion-label>Email: <a href="laurencecortez26.lc@gmail.com">laurencecortez26.lc@gmail.com</a></ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Phone: +639555174096</ion-label>
        </ion-item>
    </ion-list>

    <ion-button color="success">Call now!</ion-button>    
    <ion-button color="secondary">View Boarding Houses</ion-button>
</ion-content>
