<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-text color="primary">
          <h1>Create a password for your account.</h1>
        </ion-text>
        <div>
          <ion-text color="danger">
            <p id="errorMessage"> </p>
          </ion-text>
        </div>
        <ion-item>
        <ion-label position="floating">Email</ion-label>
          <ion-input inputmode="email" [(ngModel)]="email" (click)="removeWarning()"></ion-input>
        </ion-item>
        <ion-item>
        <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" (click)="removeWarning()"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" [(ngModel)]="cpassword" (click)="removeWarning()"></ion-input>
        </ion-item>

        <ion-button color="primary" expand="block" (click)="register()">Save</ion-button>
        <ion-button color="medium" expand="block">Cancel Registration</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
