<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Welcome to BH-Hunt</ion-card-title>
          </ion-card-header>
          <ion-item>
          <ion-label position="floating">Username</ion-label>
            <ion-input required="true"></ion-input>
          </ion-item>
          <ion-item>
          <ion-label position="floating">Password</ion-label>
            <ion-input required="true" type="password"></ion-input>
          </ion-item>

          <ion-button color="primary" expand="block">Login</ion-button>
          <ion-button color="medium" expand="block" >Register</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
